<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

<div class="spinner-container" data-controller="roulette">
  <div id="spinner-wrapper">
    <%= image_tag "bananaLoca.png",
          id:     "barrel",
          width:  500,
          height: 500,
          alt:    "Spoon barrel" %>

    <ul id="rating-list">
      <% @businesses.each_with_index do |biz, i| %>
        <li class="rating-slot"
            data-index="<%= i %>"
            data-chosen="<%= @restaurant.id ==  biz['id'] %>"
            data-id="<%= biz['id'] %>">

          <%= raw('★' * biz['rating'].to_i) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>

</script>
