<img src="<%= @restaurant.image %>" alt="<%= @restaurant.name %>" class="restaurant-image">

     <div class="restaurant-info">
        <div class="name-address" >
        <h2><%= @restaurant.name %></h2>
          <p id="loc"><%= @restaurant.location %></p>
        </div>

          <div class="info-container d-flex justify-content-between">
            <div class="restaurant-rating">
              <% 5.times do |i| %>
                 <% if i < @restaurant.rating.round %>
                 <span class="star filled">â˜…</span>
                 <% else %>
                 <span class="star empty">â˜…</span>
                 <% end %>
              <% end %>
            </div>
          </div>
        </div>


        <% if @restaurant.category == "Discover Local" %>
          <% @restaurant.category = "Tapas" %>
        <% end %>
        <p class="food-category"><em>Get ready! Today you're having</em> <strong><%= @restaurant.category %></strong><em>!!</em></p>

    <div class="buttonz">
      <%= link_to "ðŸ“Open in Google Maps", "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(@restaurant.location)}", target: "_blank", rel: "noopener", class: "maps-link" %>
    </div>
    
  <div class="maps">
    <div style="width: 100%; height: 230px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

<%# show page to party %>
<%# fetch %>
<%# show restaurant %>
