<div class="restaurant-container">
  <h2>Picked Restaurant</h2>

  <div class="restaurant-details">
    <img src="<%= @restaurant.image %>" alt="<%= @restaurant.name %>" class="restaurant-image">

     <div class="restaurant-info">
        <h3><%= @restaurant.name %></h3>

          <div class="restaurant-mid">
            <div class="restaurant-rating">
              <% 5.times do |i| %>
                 <% if i < @restaurant.rating.round %>
                 <span class="star filled">★</span> 
                 <% else %>
                 <span class="star empty">★</span> 
                 <% end %>
              <% end %>
            </div>
           <p><%= @restaurant.location %></p>
          </div>

        <p><%= @restaurant.category %></p>
     </div>
  </div>
 </div>

  <div style="width: 100%; height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>



<%# show page to party %>
<%# fetch %>
<%# show restaurant %>

