<!DOCTYPE html>
<html>
  <head>
    <title>SpinTheSpoon ...do you have the balls to spin the spoon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user && current_user.username.blank? %>
      <div class="my-modal-backdrop">
        <div class="my-modal-content">
          <h3>Set your username</h3>
            <%= render "pages/username_form" %>
          </div>
        </div>
    <% end %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="bottom-nav">
      <%= link_to root_path, class: "nav-item" do %>
        <i class="fas fa-home"></i>
      <% end %>

      <%= link_to my_party_path, class: "nav-item" do %>
        <i class="fas fa-people-group"></i>
      <% end %>

      <%= link_to user_parties_path, class: "nav-item" do %>
        <i class="fas fa-envelope"></i>
      <% end %>

    </div>
  </body>
</html>
